
  nav {
    position: fixed;
    z-index: 100;
    height: 8vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  .sci
  {
  	position: absolute;
  	bottom: 15px;
  	right: 30px;
  	display: flex;
  	flex-direction: column;
  }
  .sci li
  {
  	opacity: 0;
  	list-style: none;
  	padding: 10px 0;
  	text-align: center;
  	animation: fadeInBottom 0.5s linear forwards;
  }
